<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div>
        <form action="/signup" method="get">
            <button class="btn" type="submit">Signup</button>
        </form>
    </div>

    <div class="container">
        <h1>
            Login
        </h1>
    </div>
    <div class="container">
        <form action="/user/login" method="post">
            <table>
                <tr>
                    <td><label for="">Email</label></td>
                    <td><input type="text" placeholder="johndoe@abc.com"></td>
                </tr>
                <tr>
                    <td><label for="">Password</label></td>
                    <td><input type="text" placeholder="password"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;"><button class="btn">Login</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
